<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="../scripts/login.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
			
<form onsubmit="return false">
<fieldset class="fieldset">

<legend>
Login
</legend>

<input type="text" id="emailId" placeholder="Enter email address"><br>
<input type="password" id="password" placeholder="Enter password"><br>
<select class="text" id="role">
<option>Admin</option>
<option>Project Management</option>
<option>Employee</option>
</select>
<input type="color" id="color" placeholder="Color"><br>
<input type="submit" value="submit">
<input type="reset" value="reset">
</fieldset>
</form>


</body>
</html>
