<!DOCTYPE html>
<html>

<head>

<script type="text/javascript" src="../scripts/register.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>


<div class="div1">

			
<form onsubmit="return false">
<fieldset class="fieldset">

<legend>
Register
</legend>

<input type="text" id="empId" placeholder="Enter Employee ID"><br>
<input type="text" id="name" placeholder="Enter Name"><br>
<input type="text" id="email" placeholder="Enter Email Address"><br>
<input type="text" id="password" placeholder="Enter password"><br>
<input type="text" id="phoneNo" placeholder="Enter phoneNo"><br>

<input type="submit" value="register">

</fieldset>
</form>
</div>

</body>
</html>
